@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">OLIS</h1>
    
    
  @using (Html.BeginForm())
  {
      <h4>Login</h4>
      <div>
          <label for="usuario">Nombre de Usuario</label>
          <p id="usuario">
              @Html.TextBox("id")
          </p>
          <label for="clave">Contraseña</label>
          <p id="clave">
              @Html.Password("id2")
          </p>
          <input type="submit" asp-action="LogIn" value="Ingresar" class="btn-outline-dark form-control" />
      </div>

  }
    <div>
        <h4>Registrarse</h4>
        <div>
            @using (Html.BeginForm())
            {
                <input type="submit" asp-action="Create" value="Crear Usuario" asp-controller="Usuario" class="btn-outline-dark form-control" />
            }

        </div>
    </div>

 </div>
