@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 id="tituloHome" class="display-4">Bienvenido</h1>
    <hr />
    
  @using (Html.BeginForm())
  {
      
<div class="login">
    <h4>Login</h4>
    <label for="usuario">Nombre de Usuario</label>
    <p id="usuario">
        @Html.TextBox("id")
    </p>
    <label for="clave">Contraseña</label>
    <p id="clave">
        @Html.Password("id2")
    </p>
    @if (ViewBag.Error != null)
    {
        <p style="color:red;">
            @Html.ViewBag.Error
        </p>
    }

    <input id="botonHome" type="submit" asp-action="LogIn" value="Ingresar" class="boton"/>
</div>
      <hr />
  }
    <div class="login">
        <h4>Registrarse</h4>
        <div>
            @using (Html.BeginForm())
            {
                <input class="boton" type="submit" asp-action="Create" value="Crear Usuario" asp-controller="Usuario" />
            }

        </div>
    </div>
   
 </div>
