@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 id="tituloHome" class="display-4">Bienvenido</h1>
        <hr />

        <div class="video">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/g34jNTicuHQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="login">
            <p>
                Stephen King lee un fragmento de su nuevo libro. ¡La reseña ya está disponible!
                </p>
                </div>
        <hr>
       

    </div>
