body {
    background-image:url(../recursos/wallpaperflare.com_wallpaper.jpg);
}
#barraNav {
    background: rgba(0, 0, 0, 0.69);
    color: #eae3e3;
    font-family: 'Alegreya Sans SC', sans-serif;
    
}
#tituloHome {
    text-shadow: 2px 2px 5px #961c1c;
    font-family: 'Alegreya Sans SC', sans-serif;
}
.boton {
    width: 150px;
    margin: auto;
    background-color: grey;
    font-weight: 700;
    border-radius:15%;
}
.login {
    font-family: 'Balsamiq Sans', cursive;
    text-shadow: 2px 2px 5px #961c1c;
}
.vista {
    color: lightgray !important;
}
.piePagina {
    text-shadow: 2px 2px 5px #961c1c;
    font-family: 'Alegreya Sans SC', sans-serif;
}

