@using Microsoft.AspNetCore.Http
@model AppLibros.Models.Usuario

@{
    ViewData["Title"] = "Edit";
}

<h1 id="tituloHome">@Html.DisplayFor(model => model.username)</h1>
<div class="vista">
    <h4>Editar</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="id" />
                <div class="form-group">
                    <label asp-for="nombre" class="control-label"></label>
                    <input asp-for="nombre" class="form-control" />
                    <span asp-validation-for="nombre" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="apellido" class="control-label"></label>
                    <input asp-for="apellido" class="form-control" />
                    <span asp-validation-for="apellido" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="edad" class="control-label"></label>
                    <input asp-for="edad" class="form-control" />
                    <span asp-validation-for="edad" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="username" class="control-label"></label>
                    <input asp-for="username" class="form-control" />
                    <span asp-validation-for="username" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="password" class="control-label"></label>
                    <input asp-for="password" class="form-control" />
                    <span asp-validation-for="password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Guardar" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        @if (Context.Session.GetString("esAdmin") == "True")
        {
        <a asp-action="Index">Volver al índice</a>
        }
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
    </div>